* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-title {
  color: dodgerblue;
}

#page-title:hover {
  color: chartreuse;
}

.second-title {
  color: hotpink;
}

p:first-child {
  color: greenyellow;
}

p:last-child {
  color: rebeccapurple;
}

h3 + span {
  color: red;
}